# OpenAPI description of the public walletlink.social API.
#
# This file is a contract, not a summary. Every field, status code and header
# below was read out of the route handlers in `app/api/v1/`, and where four
# endpoints return four slightly different shapes for the same idea, this
# records all four rather than averaging them into one that is true of none.
#
# The prose pages under `docs-site/api-reference/` stay the place to learn the
# API. This is the place a machine reads it: the Mintlify playground, SDK
# generators, and agents doing tool discovery.
#
# Keep it honest. `.github/workflows/docs-freshness.yml` fails a PR that
# changes `app/api/v1/` without touching this file, because a spec that has
# drifted from the routes is worse than no spec: it is a lie with a schema.

openapi: 3.1.0

info:
  title: walletlink.social
  version: 1.0.0
  summary: Resolve wallet addresses to Farcaster, X and ENS identities, in both directions.
  description: |
    Resolve an Ethereum address to the social identities attached to it, or go
    the other way and find every wallet behind a handle.

    ## Authentication

    Pass your key in the `Authorization` header. Both forms are accepted:

    ```
    Authorization: Bearer wts_live_xxxxxxxx
    Authorization: wts_live_xxxxxxxx
    ```

    Keys are prefixed `wts_live_` and stored only as hashes. A lost key is
    replaced, not recovered.

    Call the API from your server, never from client-side code. CORS is open,
    so a browser request succeeds, which makes this an easy mistake to make.
    Any key shipped to a browser is public and carries your whole balance.

    ## Two meters, and they are not the same

    **Match credits** are what you bought. One credit is one wallet resolved to
    an X handle or a Farcaster account. A wallet that resolves to nothing costs
    nothing. A record carrying only an ENS name, a Lens profile or a GitHub
    account is returned and not billed: a match means X or Farcaster.

    **Rate-limit units** are separate, are not bought, and reset on their own
    schedule. They bound how fast you may call, never how much you may resolve.

    Each operation below states both under `x-match-credits` and
    `x-rate-limit-units`.

    ## Response shape

    Every success is an object with `data` and `meta`. `data` holds the result
    and is `null` or `[]` when there is nothing to return. `meta` describes the
    request itself: what you asked for, how much came back, whether it was
    truncated.

    Two conventions are worth internalising.

    **Absent fields are omitted, not nulled.** A wallet with no GitHub account
    has no `github` key at all. Test for presence, not for null.

    **Not found is not an error.** A wallet we hold no identities for returns
    HTTP 200 with `data: null` and `meta.found: false`. Error status codes are
    reserved for requests that actually failed.

    ## Conventions

    Addresses are accepted in any case and returned lowercased. X handles are
    accepted with or without a leading `@` and returned without it. All
    timestamps are ISO 8601 in UTC. `OPTIONS` is supported on every path for
    CORS preflight and returns 204.
  contact:
    name: walletlink.social support
    email: help@walletlink.social
    url: https://walletlink.social

externalDocs:
  description: Full documentation, including the concepts behind coverage and data quality.
  url: https://docs.walletlink.social

servers:
  - url: https://walletlink.social/api/v1
    description: Production

security:
  - bearerAuth: []
  - apiKeyAuth: []

tags:
  - name: Lookups
    description: Address in, identities out.
  - name: Jobs
    description: |
      The async surface. Submit a list, poll it, collect the results. A job
      resolves wallets the index has not checked against live sources, which
      the synchronous lookups never do.
  - name: Reverse lookups
    description: Identity in, addresses out. Paginated, and weighted double against your rate limit.
  - name: Account
    description: Index coverage and your own usage. Both are free.

paths:
  /wallet/{address}:
    get:
      operationId: getWallet
      summary: Look up a wallet
      tags: [Lookups]
      description: |
        Returns every identity attached to a single address.

        Costs one match credit if the address resolves to an X handle or a
        Farcaster account, and nothing if it does not.

        For more than a handful of addresses use `POST /batch` instead: it
        bills identically and is one round trip rather than many.
      x-match-credits: 1 if the address resolves to X or Farcaster, otherwise 0
      x-rate-limit-units: 1
      parameters:
        - $ref: '#/components/parameters/Address'
      responses:
        '200':
          description: |
            The lookup succeeded. `data` is the record, or `null` when nothing
            is attached to the address, which is not an error.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
            X-Data-Staleness: { $ref: '#/components/headers/XDataStaleness' }
            X-Last-Updated: { $ref: '#/components/headers/XLastUpdated' }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/WalletRecord'
                      - type: 'null'
                    description: The record, or `null` when nothing is attached.
                  meta:
                    $ref: '#/components/schemas/WalletMeta'
              examples:
                found:
                  summary: Found
                  value:
                    data:
                      wallet: '0x00000000000000000000000000000000000000a1'
                      ens_name: example.eth
                      twitter:
                        handle: example_user
                        url: https://x.com/example_user
                        verified: true
                        reachable: true
                        reachability: live
                        reachability_checked_at: '2026-08-17T09:41:02.000Z'
                      farcaster:
                        username: example
                        url: https://warpcast.com/example
                        followers: 123456
                        fid: 900001
                        verified: true
                      sources: [onchain, farcaster]
                      quality:
                        score: 90
                        last_verified: '2026-08-10T09:12:00.000Z'
                    meta:
                      wallet: '0x00000000000000000000000000000000000000a1'
                      found: true
                      last_updated: '2026-08-10T09:12:00.000Z'
                      stale: false
                checkedNothingFound:
                  summary: Checked, nothing found
                  description: |
                    We have looked at this address and it has no identities.
                    `checked_at` is when.
                  value:
                    data: null
                    meta:
                      wallet: '0x0000000000000000000000000000000000000001'
                      found: false
                      checked_at: '2026-07-02T11:30:00.000Z'
                neverSeen:
                  summary: Never seen
                  description: |
                    `checked_at: null` distinguishes an address we have never
                    looked at from one we checked and found bare. Neither is
                    billed.
                  value:
                    data: null
                    meta:
                      wallet: '0x0000000000000000000000000000000000000002'
                      found: false
                      checked_at: null
        '400':
          description: '`INVALID_ADDRESS`. Not `0x` followed by 40 hex characters.'
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: Invalid wallet address format. Expected 0x followed by 40 hex characters.
                code: INVALID_ADDRESS
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /batch:
    post:
      operationId: lookupBatch
      summary: Look up many wallets
      tags: [Lookups]
      description: |
        Resolves up to 50 addresses in one request. `data` is an array
        positionally aligned with the deduplicated address list, holding `null`
        wherever nothing is attached.

        Billed on matches after deduplication: `meta.matched` is the number you
        were charged, and it is the number to reconcile against your balance.
        `meta.found` is larger, because it counts records carrying only an ENS
        name, a Lens profile or a GitHub account, and none of those cost
        anything.

        Two validations run **before** authentication, because the rate-limit
        weight of this call is the number of addresses in the body and cannot
        be known until the body is read. A request over 1 MB, or one whose body
        is not JSON with a non-empty `wallets` array, is rejected without a
        valid key and without rate-limit headers.

        An optional `Idempotency-Key` header makes retries safe: resending the
        identical request with the same key inside 24 hours replays the stored
        response, marked `Idempotency-Replayed: true`, and bills nothing. The
        dedup is scoped to your API key and pinned to the request body; only a
        200 consumes a key, and rate limits still apply to a replay.
      x-match-credits: 1 per address that resolves to X or Farcaster, after duplicates are removed
      x-rate-limit-units: 1 per address submitted
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: |
            Opaque retry token, at most 200 characters; a UUID is the usual
            choice. Use one value per logical request and a fresh value for
            each new request.
          schema:
            type: string
            maxLength: 200
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BatchRequest' }
            example:
              wallets:
                - '0x00000000000000000000000000000000000000a1'
                - '0x0000000000000000000000000000000000000001'
      responses:
        '200':
          description: |
            The batch resolved. Every entry is either a record or `null`, in
            the order of the deduplicated request list.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
            Idempotency-Replayed:
              { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    description: |
                      Positionally aligned with the deduplicated `wallets`
                      list. `null` where nothing is attached.
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/BatchRecord'
                        - type: 'null'
                  meta:
                    $ref: '#/components/schemas/BatchMeta'
              example:
                data:
                  - wallet: '0x00000000000000000000000000000000000000a1'
                    ens_name: example.eth
                    farcaster:
                      username: example
                      url: https://warpcast.com/example
                      followers: 123456
                      fid: 900001
                      verified: true
                    sources: [onchain, farcaster]
                    last_updated: '2026-08-14T02:11:09.000Z'
                    stale: false
                  - null
                meta:
                  requested: 2
                  found: 1
                  not_found: 1
                  matched: 1
                  previously_checked:
                    '0x0000000000000000000000000000000000000001': '2026-08-20T05:40:00.000Z'
        '400':
          description: |
            One of three codes.

            `INVALID_REQUEST` when the body is not JSON, or `wallets` is
            missing, not an array, or empty. Returned before authentication and
            without rate-limit headers.

            `INVALID_ADDRESS` when any entry is not `0x` plus 40 hex
            characters. The message names up to five of them.

            `BATCH_SIZE_EXCEEDED` when the list is longer than your plan’s
            maximum. Nothing you can buy raises it, so the only fix is to split
            the list.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                invalidRequest:
                  summary: INVALID_REQUEST
                  value:
                    error: Missing or invalid "wallets" array in request body
                    code: INVALID_REQUEST
                invalidAddress:
                  summary: INVALID_ADDRESS
                  value:
                    error: 'Invalid wallet addresses: not-an-address'
                    code: INVALID_ADDRESS
                batchSizeExceeded:
                  summary: BATCH_SIZE_EXCEEDED
                  value:
                    error: Batch size exceeds the maximum of 50 wallets per request. Split the list across requests.
                    code: BATCH_SIZE_EXCEEDED
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '409':
          description: |
            `IDEMPOTENCY_NOT_REPLAYABLE`. The original response under this
            `Idempotency-Key` was too large to store, so it cannot be
            replayed. Resend under a fresh key; the resend is billed as a new
            request.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: The original response under this Idempotency-Key was too large to store, so it cannot be replayed. Resend with a fresh key; the resend is billed as a new request.
                code: IDEMPOTENCY_NOT_REPLAYABLE
        '413':
          description: |
            `INVALID_REQUEST`. The body exceeded 1 MB. Measured on the bytes
            actually read rather than on `Content-Length`, which a caller can
            omit or understate, so this fires before the body is parsed and
            before authentication.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: Request body too large
                code: INVALID_REQUEST
        '422':
          description: |
            `IDEMPOTENCY_KEY_REUSED`. The same `Idempotency-Key` was sent with
            a different request body inside the 24-hour window. Use a fresh
            key for a new request.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: This Idempotency-Key was already used with a different request body inside the 24-hour window. Use a fresh key for a new request.
                code: IDEMPOTENCY_KEY_REUSED
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /jobs:
    post:
      operationId: submitJob
      summary: Submit an async lookup job
      tags: [Jobs]
      description: |
        Submits a list of addresses as a background job and answers 202 with a
        job id. A job runs the standard pipeline the web app runs: the index
        and the cache first, then live resolution for whatever is left. An
        address the index has never checked, or holds only a stale answer
        for, is resolved against live sources, so a job can find identities
        the synchronous endpoints report as never seen. The onchain ENS
        text-record pass is not part of an API job.

        The list has no fixed ceiling. It is bounded by your balance: at most
        10 times the match credits available, refused whole with
        `SUBMISSION_LIMIT_EXCEEDED` when longer, with the allowed maximum
        named in the message. One job may be active per account at a time,
        across the API and the web app alike; a second submission answers
        `409 JOB_ALREADY_ACTIVE` naming the running job’s id, so poll that
        one instead of guessing.

        Nothing is billed at submission. Matches are debited once, when the
        job completes: one credit per address that resolved to an X handle or
        a Farcaster account, misses free, exactly as the synchronous
        endpoints bill. A failed job is never billed, and a job resumed after
        an interruption is never billed twice.

        There is no `Idempotency-Key` here. While the job is active a resend
        is refused by the one-active-job rule; a resend after it completes
        runs the whole job again and bills its matches again.

        Jobs of 10 addresses or fewer are processed inline, so the 202 can
        already report `status: completed`; poll the status URL once to
        collect the results. Larger jobs are queued: a worker normally picks
        them up within seconds, and a fallback sweep runs every minute.
      x-match-credits: 1 per address that resolves to X or Farcaster, debited when the job completes; nothing at submission
      x-rate-limit-units: 1 per submission, regardless of list size
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/JobsRequest' }
            example:
              wallets:
                - '0x00000000000000000000000000000000000000a1'
                - '0x0000000000000000000000000000000000000001'
      responses:
        '202':
          description: |
            The job was accepted. `data.status` reports what was true at
            return time; the status URL is the authority from here on.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: '#/components/schemas/JobSubmission' }
                  meta:
                    type: object
                    required: [submitted_at]
                    properties:
                      submitted_at:
                        type: string
                        format: date-time
              example:
                data:
                  job_id: '3f9d2c1a-7b44-4c2e-9a10-5e8f6d4b2a90'
                  status: pending
                  wallets: 2
                  status_url: https://walletlink.social/api/v1/jobs/3f9d2c1a-7b44-4c2e-9a10-5e8f6d4b2a90
                meta:
                  submitted_at: '2026-09-01T12:00:00.000Z'
        '400':
          description: |
            `INVALID_REQUEST` when the body is not JSON, or `wallets` is
            missing, not an array, or empty. Returned before authentication
            and without rate-limit headers.

            `INVALID_ADDRESS` when any entry is not `0x` plus 40 hex
            characters. The message names up to five of them.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                invalidRequest:
                  summary: INVALID_REQUEST
                  value:
                    error: Missing or invalid "wallets" array in request body
                    code: INVALID_REQUEST
                invalidAddress:
                  summary: INVALID_ADDRESS
                  value:
                    error: 'Invalid wallet addresses: not-an-address'
                    code: INVALID_ADDRESS
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402':
          description: |
            One of two codes, and they name different problems.

            `NO_CREDITS` means the balance is empty before any list is
            weighed: the same refusal every metered endpoint gives, cleared
            by buying a pack.

            `SUBMISSION_LIMIT_EXCEEDED` means the balance is live but the
            list is longer than 10 times it. The message names the maximum
            the current balance allows; shorten the list or top up. Both
            carry `X-Matches-Available` and both purchase paths.
          headers:
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                noCredits:
                  summary: NO_CREDITS
                  value:
                    error: No credits left. Buy a pack at
                      https://walletlink.social/pricing to continue, or buy one
                      with USDC, no account needed, at POST
                      https://walletlink.social/api/x402/buy.
                    code: NO_CREDITS
                submissionLimitExceeded:
                  summary: SUBMISSION_LIMIT_EXCEEDED
                  value:
                    error: 5,000 wallets needs more headroom than 120 matches
                      allows. You can submit up to 1,200 wallets. Buy a pack at
                      https://walletlink.social/pricing, or with USDC, no
                      account needed, at POST
                      https://walletlink.social/api/x402/buy.
                    code: SUBMISSION_LIMIT_EXCEEDED
        '409':
          description: |
            `JOB_ALREADY_ACTIVE`. This account already has a pending or
            processing job, on any surface: a job started in the web app
            blocks an API submission too, because both drain the same
            pipeline and bill the same balance. The message names the
            active job’s id; poll it and resubmit when it completes.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: This account already has an active job, 3f9d2c1a-7b44-4c2e-9a10-5e8f6d4b2a90. Poll it at GET /v1/jobs/3f9d2c1a-7b44-4c2e-9a10-5e8f6d4b2a90 and submit again when it completes.
                code: JOB_ALREADY_ACTIVE
        '413':
          description: |
            `INVALID_REQUEST`. The body exceeded 4.5 MB, which admits roughly
            100,000 addresses. Measured on the bytes actually read rather
            than on `Content-Length`, so it fires before the body is parsed
            and before authentication.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: Request body too large
                code: INVALID_REQUEST
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /jobs/{id}:
    get:
      operationId: getJob
      summary: Poll a job, read its results
      tags: [Jobs]
      description: |
        Progress while the job runs, results when it completes. Free on both
        meters, so a drained key can collect what it already paid for: the
        job being polled may be the very thing that drained it.

        Only jobs this account submitted are visible. Any other id answers
        the same `404 JOB_NOT_FOUND` as a job that does not exist, so a job
        id cannot be used to test whether someone else's job exists.

        On completion the results come back in the batch row shape, one
        page at a time, aligned to the `wallets` array in the same payload:
        entry N describes wallet N of the page, `null` where nothing was
        attached. Page with `offset` and `limit`; `meta.next_offset` is the
        next page's offset, `null` on the last page. `meta.found` and
        `meta.not_found` count the page; `meta.requested` and `meta.matched`
        are whole-job totals. X reachability and the second attested handle
        are read at poll time rather than stored with the job, so a repeat
        poll can differ where the daily reachability check has moved a
        handle.
      x-match-credits: 0
      x-rate-limit-units: 0
      parameters:
        - name: id
          in: path
          required: true
          description: The `job_id` returned by `POST /jobs`. A UUID.
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          example: '3f9d2c1a-7b44-4c2e-9a10-5e8f6d4b2a90'
        - name: offset
          in: query
          required: false
          description: |
            First result row of the page, 0-based, in submission order. Pass
            `meta.next_offset` from the previous page to continue.
          schema: { type: integer, minimum: 0, default: 0 }
        - name: limit
          in: query
          required: false
          description: Rows per page, 1 to 1000.
          schema: { type: integer, minimum: 1, maximum: 1000, default: 1000 }
      responses:
        '200':
          description: |
            The job’s current state. `results` and the counting fields in
            `meta` appear only once `status` is `completed`.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: '#/components/schemas/JobStatus' }
                  meta: { $ref: '#/components/schemas/JobMeta' }
              examples:
                processing:
                  summary: Still running
                  value:
                    data:
                      job_id: '3f9d2c1a-7b44-4c2e-9a10-5e8f6d4b2a90'
                      status: processing
                      progress:
                        processed: 150
                        total: 500
                        stage: live
                      created_at: '2026-09-01T12:00:00.000Z'
                      started_at: '2026-09-01T12:00:02.000Z'
                      completed_at: null
                    meta:
                      requested: 500
                completed:
                  summary: Completed, with results
                  value:
                    data:
                      job_id: '3f9d2c1a-7b44-4c2e-9a10-5e8f6d4b2a90'
                      status: completed
                      progress:
                        processed: 2
                        total: 2
                        stage: null
                      created_at: '2026-09-01T12:00:00.000Z'
                      started_at: '2026-09-01T12:00:02.000Z'
                      completed_at: '2026-09-01T12:00:09.000Z'
                      wallets:
                        - '0x00000000000000000000000000000000000000a1'
                        - '0x0000000000000000000000000000000000000001'
                      results:
                        - wallet: '0x00000000000000000000000000000000000000a1'
                          ens_name: example.eth
                          farcaster:
                            username: example
                            url: https://warpcast.com/example
                            followers: 123456
                            fid: 900001
                            verified: true
                          sources: [onchain, farcaster]
                        - null
                    meta:
                      requested: 2
                      found: 1
                      not_found: 1
                      matched: 1
                failed:
                  summary: Failed, not billed
                  value:
                    data:
                      job_id: '3f9d2c1a-7b44-4c2e-9a10-5e8f6d4b2a90'
                      status: failed
                      progress:
                        processed: 150
                        total: 500
                        stage: null
                      created_at: '2026-09-01T12:00:00.000Z'
                      started_at: '2026-09-01T12:00:02.000Z'
                      completed_at: null
                      error: The job failed before completing. It was not billed; submit the list again.
                    meta:
                      requested: 500
        '400':
          description: '`INVALID_REQUEST`. The id is not a UUID.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: Invalid job id. Use the job_id returned by POST /v1/jobs.
                code: INVALID_REQUEST
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: |
            `JOB_NOT_FOUND`. No job with this id is visible to this account.
            A job another account submitted answers exactly this, on purpose:
            distinguishing “not yours” from “not there” would confirm which
            ids exist.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: Job not found
                code: JOB_NOT_FOUND
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /reverse/twitter/{handle}:
    get:
      operationId: reverseTwitter
      summary: Wallets behind an X handle
      tags: [Reverse lookups]
      description: |
        Every wallet in the index attested to this X account, ordered by
        Farcaster follower count descending, then by address.

        A wallet matches when this handle is its primary X account **or** its
        second attested one. Some owners have attested two live X accounts from
        the same wallet through different evidence; a wallet matched on the
        second carries its other handle in `twitter.handle` and names the one
        you searched for under `twitter.also`. The conditions are the ones
        `twitter.also` itself requires: both accounts live, and any attested
        account id still matching.

        Billed one match credit per wallet returned, on the same terms
        whichever half matched. A handle nobody holds returns an empty array
        and costs nothing.

        Paginated by keyset cursor. When `truncated` is true, pass
        `meta.next_cursor` back as `cursor` to get the next page. The cursor is
        opaque: pass it back unmodified. Because it encodes a position rather
        than a snapshot, a row whose follower count moves between pages can
        appear twice or be skipped, which is what pagination over a live index
        costs.
      x-match-credits: 1 per wallet returned, up to 100
      x-rate-limit-units: 2
      parameters:
        - $ref: '#/components/parameters/TwitterHandle'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: |
            One page of wallets. `data` is `[]` and `total_count` is 0 when no
            wallet is attested to this handle, which is not an error.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ReverseTwitterRecord' }
                  meta:
                    $ref: '#/components/schemas/ReverseTwitterMeta'
              example:
                data:
                  - wallet: '0x00000000000000000000000000000000000000a1'
                    ens_name: example.eth
                    twitter:
                      handle: example_user
                      url: https://x.com/example_user
                      verified: true
                      reachable: true
                      reachability: live
                      reachability_checked_at: '2026-08-21T14:02:11.000Z'
                    sources: [onchain]
                    quality_score: 70
                meta:
                  handle: example_user
                  total_count: 1
                  returned_count: 1
                  truncated: false
                  next_cursor: null
        '400':
          description: |
            `INVALID_HANDLE` when the handle is not 1 to 15 letters, numbers or
            underscores, or `INVALID_CURSOR` when `cursor` is not a value this
            API produced. A malformed cursor is refused rather than silently
            treated as page one, which would bill you again for rows you
            already hold.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                invalidHandle:
                  summary: INVALID_HANDLE
                  value:
                    error: Invalid Twitter handle format. Expected 1-15 alphanumeric characters or underscores.
                    code: INVALID_HANDLE
                invalidCursor:
                  summary: INVALID_CURSOR
                  value:
                    error: Invalid cursor. Pass the next_cursor value from a previous response, unmodified.
                    code: INVALID_CURSOR
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /reverse/farcaster/{username}:
    get:
      operationId: reverseFarcaster
      summary: Wallets behind a Farcaster username
      tags: [Reverse lookups]
      description: |
        Every wallet in the index attested to this Farcaster account, ordered
        by follower count descending, then by address.

        Billed one match credit per wallet returned. A username nobody holds
        returns an empty array and costs nothing.

        Paginated by the same opaque keyset cursor as the X reverse lookup.
      x-match-credits: 1 per wallet returned, up to 100
      x-rate-limit-units: 2
      parameters:
        - $ref: '#/components/parameters/FarcasterUsername'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: |
            One page of wallets. `data` is `[]` and `total_count` is 0 when no
            wallet is attested to this username, which is not an error.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      { $ref: '#/components/schemas/ReverseFarcasterRecord' }
                  meta:
                    $ref: '#/components/schemas/ReverseFarcasterMeta'
              example:
                data:
                  - wallet: '0x00000000000000000000000000000000000000a1'
                    ens_name: example.eth
                    farcaster:
                      username: example
                      url: https://warpcast.com/example
                      followers: 123456
                      fid: 900001
                      verified: true
                    sources: [farcaster]
                    quality_score: 65
                meta:
                  username: example
                  total_count: 1
                  returned_count: 1
                  truncated: false
                  next_cursor: null
        '400':
          description: |
            `INVALID_USERNAME` when the username is not 1 to 32 characters of
            letters, numbers, dots and hyphens starting with a letter or a
            number, or `INVALID_CURSOR` when `cursor` is not a value this API
            produced.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                invalidUsername:
                  summary: INVALID_USERNAME
                  value:
                    error: Invalid Farcaster username format. Expected 1-32 characters of lowercase letters, numbers, dots or hyphens, starting with a letter or a number.
                    code: INVALID_USERNAME
                invalidCursor:
                  summary: INVALID_CURSOR
                  value:
                    error: Invalid cursor. Pass the next_cursor value from a previous response, unmodified.
                    code: INVALID_CURSOR
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /stats:
    get:
      operationId: getStats
      summary: Index coverage
      tags: [Account]
      description: |
        Index-wide counts, materialized daily. Free, and resolves no wallet.

        `total_wallets` counts only records carrying at least one identity.
        `wallets_checked` is larger, because it includes addresses we looked at
        and found bare. Coverage is `total_wallets` over `wallets_checked`;
        computing it against the wrong denominator is the mistake this pair of
        fields exists to prevent.

        The counts are refreshed once a day rather than counted live, and
        `meta.as_of` says when they were taken; two calls inside a day return
        the same numbers, so polling is harmless. Still requires a valid key,
        but not a balance: this endpoint answers at zero credits, so it never
        returns 402.
      x-match-credits: 0
      x-rate-limit-units: 0
      responses:
        '200':
          description: Index counts as of the last daily refresh.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: '#/components/schemas/Stats' }
                  meta:
                    type: object
                    required: [generated_at, as_of]
                    properties:
                      generated_at:
                        type: string
                        format: date-time
                        description: When this response was built.
                      as_of:
                        type: string
                        format: date-time
                        description: |
                          When the counts were computed, at the last daily
                          refresh. Quote this alongside any number you take
                          from the response.
              example:
                data:
                  total_wallets: 4700000
                  wallets_checked: 9200000
                  coverage:
                    twitter: 1070000
                    farcaster: 4690000
                    ens: 890000
                    lens: 42000
                    github: 31000
                  farcaster_stats:
                    avg_followers: 210
                    max_followers: 1200000
                meta:
                  generated_at: '2026-08-14T12:00:00.000Z'
                  as_of: '2026-08-14T04:30:00.000Z'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /usage:
    get:
      operationId: getUsage
      summary: Your key, balance and usage
      tags: [Account]
      description: |
        What this key is, what it has spent, and what is left. Free.

        Read `credits.available` to know whether the next call will work.
        `usage.total_credits` is a different number and is not it: that counts
        rate-limit units, one per wallet requested, and is kept under its
        historical name because integrators read it.

        `plan_limits` and `rate_limits` describe the request meter, which
        bounds how fast you may call. `credits` is the match meter, which
        bounds how much you may resolve, and it is the one that ends a session
        with a 402 on the metered endpoints. This endpoint itself needs no
        balance: it answers at zero credits, so a drained key can always read
        its own meter, and it never returns 402.
      x-match-credits: 0
      x-rate-limit-units: 0
      parameters:
        - name: period
          in: query
          required: false
          description: The window `usage` covers, counted back from now.
          schema:
            type: string
            enum: [day, week, month]
            default: month
      responses:
        '200':
          description: Key metadata, both meters, and usage over the requested period.
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: '#/components/schemas/Usage' }
                  meta:
                    type: object
                    required: [generated_at]
                    properties:
                      generated_at:
                        type: string
                        format: date-time
              example:
                data:
                  key:
                    id: key_123
                    name: production
                    prefix: wts_live_ab
                    plan: Developer
                    created_at: '2026-06-01T00:00:00.000Z'
                    last_used_at: '2026-08-14T11:58:00.000Z'
                  credits:
                    available: 1180
                    unmetered: false
                    on_free_allowance: false
                    free_window_resets_at: null
                  plan_limits:
                    requests_per_minute: 60
                    requests_per_day: 5000
                    requests_per_month: 50000
                    max_batch_size: 50
                  rate_limits:
                    minute:
                      limit: 60
                      remaining: 58
                      reset_at: '2026-08-14T12:01:00.000Z'
                    day:
                      limit: 5000
                      remaining: 4310
                      reset_at: '2026-08-15T00:00:00.000Z'
                    month:
                      limit: 50000
                      remaining: 46120
                      reset_at: '2026-09-01T00:00:00.000Z'
                  usage:
                    period: week
                    total_requests: 412
                    total_credits: 3880
                    total_wallets: 3860
                    avg_latency_ms: 74
                    error_rate: 0.24
                    requests_by_endpoint:
                      /v1/batch: 380
                      /v1/wallet/{address}: 31
                    requests_by_day:
                      - date: '2026-08-13'
                        count: 210
                        credits: 1980
                      - date: '2026-08-14'
                        count: 202
                        credits: 1900
                meta:
                  generated_at: '2026-08-14T12:00:00.000Z'
        '400':
          description: '`INVALID_PARAMETER`. `period` was not `day`, `week` or `month`.'
          headers:
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining:
              { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
            X-Matches-Available:
              { $ref: '#/components/headers/XMatchesAvailable' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error: 'Invalid period. Use: day, week, or month'
                code: INVALID_PARAMETER
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        `Authorization: Bearer wts_live_xxxxxxxx`. The documented form.
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        `Authorization: wts_live_xxxxxxxx`. The bare key without the `Bearer`
        prefix is also accepted. Listed as a separate scheme because OpenAPI
        cannot express one header that takes both forms; either satisfies the
        API.

  parameters:
    Address:
      name: address
      in: path
      required: true
      description: |
        An Ethereum address as `0x` followed by 40 hex characters.
        Case-insensitive on the way in, lowercased on the way out.
      schema:
        type: string
        pattern: '^0x[a-fA-F0-9]{40}$'
      example: '0x00000000000000000000000000000000000000a1'

    TwitterHandle:
      name: handle
      in: path
      required: true
      description: |
        An X handle, 1 to 15 letters, numbers or underscores. A leading `@` is
        accepted and stripped; matching is case-insensitive.
      schema:
        type: string
        pattern: '^@?[a-zA-Z0-9_]{1,15}$'
      example: example_user

    FarcasterUsername:
      name: username
      in: path
      required: true
      description: |
        A Farcaster username: 1 to 32 characters of letters, numbers, dots and
        hyphens, starting with a letter or a number. Lowercased before
        matching.

        Both kinds of name work. A plain fname such as `dwr`, and an ENS name
        attached to the account such as `vitalik.eth`. A large share of the
        index is `.eth` names, so pass them through unchanged rather than
        stripping the suffix.

        Farcaster’s `!<fid>` placeholder, which stands for an account that has
        set no username, is not a name and is rejected.
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9.-]{0,31}$'
      example: example

    Cursor:
      name: cursor
      in: query
      required: false
      description: |
        The `meta.next_cursor` from a previous response, passed back
        unmodified. Omit it for the first page. Opaque: its encoding is not
        part of this contract and anything this API did not issue is refused
        with `INVALID_CURSOR`.
      schema:
        type: string

  headers:
    XRateLimitLimit:
      description: Rate-limit units allowed in the current window.
      schema: { type: string }
    XRateLimitRemaining:
      description: Units left in the current window.
      schema: { type: string }
    XRateLimitReset:
      description: |
        When the window resets, as a **Unix timestamp in seconds**, not as
        seconds from now. Convert it rather than treating it as a duration.
      schema: { type: string }
    RetryAfter:
      description: Seconds to wait before retrying. Present on 429.
      schema: { type: string }
    XMatchesAvailable:
      description: |
        Match credits available **before** this call's matches were debited.
        What a call costs is not known until it resolves, so subtract the
        matches the response reports to know what remains. Present on success,
        402 and 429; absent on 401 and for the legacy unmetered accounts.
      required: false
      schema: { type: string }
    XDataStaleness:
      description: |
        Present only when the record is past its freshness window or has not
        changed in 30 days. The single value is `stale`; a fresh record carries
        no header at all.
      required: false
      schema:
        type: string
        enum: [stale]
    XLastUpdated:
      description: |
        When the record last changed, ISO 8601. Sent alongside
        `X-Data-Staleness` only.
      required: false
      schema: { type: string }
    IdempotencyReplayed:
      description: |
        Present, with the value `true`, only when this response was replayed
        from the idempotency store instead of being resolved again. A replay
        bills nothing. `POST /batch` only.
      required: false
      schema:
        type: string
        enum: ['true']

  responses:
    Unauthorized:
      description: |
        `MISSING_API_KEY` when there is no `Authorization` header, or
        `INVALID_API_KEY` when the key is unrecognised, revoked or expired.
        Neither carries rate-limit headers, because neither reached the rate
        limiter. Retrying will not fix either.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          examples:
            missing:
              summary: MISSING_API_KEY
              value:
                error: 'Missing API key. Provide via Authorization header: Bearer wts_live_xxx'
                code: MISSING_API_KEY
            invalid:
              summary: INVALID_API_KEY
              value:
                error: Invalid or expired API key
                code: INVALID_API_KEY

    PaymentRequired:
      description: |
        `NO_CREDITS`. The match balance is exhausted, or the free allowance for
        this rolling 30-day window is used up. Returned only by the metered
        endpoints: `/stats`, `/usage` and the job status poll answer at any
        balance, so a drained key can always read its own meter and collect
        results it already paid for.

        Not worth retrying. It clears when a pack is bought, or when the free
        window rolls forward.
      headers:
        X-Matches-Available: { $ref: '#/components/headers/XMatchesAvailable' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          examples:
            freeAllowance:
              summary: Free allowance exhausted
              value:
                error:
                  Free allowance used up for this 30-day window. Buy a pack at
                  https://walletlink.social/pricing to continue, or buy one with
                  USDC, no account needed, at POST
                  https://walletlink.social/api/x402/buy.
                code: NO_CREDITS
            noBalance:
              summary: Balance exhausted
              value:
                error: No credits left. Buy a pack at
                  https://walletlink.social/pricing to continue, or buy one with
                  USDC, no account needed, at POST
                  https://walletlink.social/api/x402/buy.
                code: NO_CREDITS

    RateLimited:
      description: |
        `RATE_LIMIT_EXCEEDED`. One of the three windows is full. All three
        apply at once, so this fires even when the other two have room.

        Back off with jitter. Retrying on a shared minute boundary is how a
        fleet of workers turns one 429 into a synchronised stampede.
      headers:
        X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
        X-RateLimit-Remaining:
          { $ref: '#/components/headers/XRateLimitRemaining' }
        X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
        X-Matches-Available: { $ref: '#/components/headers/XMatchesAvailable' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: Rate limit exceeded. Try again in 42 seconds
            code: RATE_LIMIT_EXCEEDED

    ServiceUnavailable:
      description: |
        `SERVICE_UNAVAILABLE`. The datastore is temporarily unreachable. Worth
        retrying with exponential backoff.
      headers:
        X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
        X-RateLimit-Remaining:
          { $ref: '#/components/headers/XRateLimitRemaining' }
        X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: Service temporarily unavailable
            code: SERVICE_UNAVAILABLE

    InternalError:
      description: |
        `INTERNAL_ERROR`. An unexpected failure on our side. Worth retrying
        with exponential backoff.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: Internal server error
            code: INTERNAL_ERROR

  schemas:
    Error:
      type: object
      description: |
        Every error shares this shape. Branch on `code`, which is stable. The
        `error` string is written for humans and may be reworded.
      required: [error, code]
      properties:
        error:
          type: string
          description: Human-readable explanation. Not stable; do not parse it.
        code:
          type: string
          description: Stable machine-readable identifier. Branch on this.
          enum:
            - MISSING_API_KEY
            - INVALID_API_KEY
            - NO_CREDITS
            - RATE_LIMIT_EXCEEDED
            - INVALID_ADDRESS
            - INVALID_HANDLE
            - INVALID_USERNAME
            - INVALID_PARAMETER
            - INVALID_CURSOR
            - INVALID_REQUEST
            - BATCH_SIZE_EXCEEDED
            - SUBMISSION_LIMIT_EXCEEDED
            - JOB_ALREADY_ACTIVE
            - JOB_NOT_FOUND
            - IDEMPOTENCY_KEY_REUSED
            - IDEMPOTENCY_NOT_REPLAYABLE
            - SERVICE_UNAVAILABLE
            - INTERNAL_ERROR

    PublicSource:
      type: string
      description: |
        How the link was attested, never who told us.

        `onchain` is a record the address owner published themselves, such as
        an ENS text record. `farcaster` is a protocol-level account
        verification. `attested-social` is a platform where the owner proved
        both halves, the wallet by signature and the account by sign-in.
        `manual` was reviewed by us. `aggregated` is the weakest: correlated by
        a third-party index rather than attested by anyone. The first four
        classes are the attested ones, and any of them present means the
        owner published the link; `aggregated` alone is correlation.

        Anything we cannot classify is dropped rather than passed through, so
        an unfamiliar value will never appear here.
      enum: [onchain, farcaster, attested-social, manual, aggregated]

    Reachability:
      type: string
      description: |
        Whether the stored X handle still reaches anyone, resolved by a daily
        job.

        `live` reaches someone. `suspended` is held by the same person and may
        return. `unclaimed` has been freed, so somebody else may already have
        taken it, which is the one case where a stale record points at a
        stranger rather than at nobody. `reassigned` means the account
        currently answering to this handle is not the account attested
        alongside this wallet.

        The three unreachable states are kept apart on purpose: collapsing them
        would hide the only one that is actively misleading.
      enum: [live, suspended, unclaimed, reassigned]

    TwitterAlso:
      type: object
      description: |
        A second X account attested for the same wallet, present only when both
        it and the primary handle are live.
      required: [handle, url, source]
      properties:
        handle: { type: string }
        url: { type: string, format: uri }
        source:
          $ref: '#/components/schemas/PublicSource'

    XIdentity:
      type: object
      description: |
        An X account attached to the wallet.

        The three reachability fields are **omitted entirely** when the handle
        has not been checked. A `reachable: null` would invite a consumer to
        read it as false, and this field’s whole value is that it never
        overstates. Absence of evidence is not evidence of absence.
      required: [handle, url, verified]
      properties:
        handle:
          type: string
          description: Without the leading `@`, lowercased.
        url: { type: string, format: uri }
        verified:
          type: boolean
          description: |
            Narrower than the everyday word, and narrower than attestation.
            True for the onchain, manual and attested-social routes, so a
            handle the owner attested through a Farcaster verification, the
            majority route, genuinely is owner-published and still reports
            `false`. To judge attestation,
            read `sources`: an identity is attested when the wallet owner
            published the link themselves, through a Farcaster verification,
            an onchain ENS record, an attested-social sign-in, or a manually
            verified record. Anything else is correlated, and labelled so.
            See the data-quality page.
        reachable:
          type: boolean
          description: |
            True only when `reachability` is `live`. Omitted when unchecked.
        reachability:
          $ref: '#/components/schemas/Reachability'
        reachability_checked_at:
          type: string
          format: date-time
          description: When the handle was last resolved. Omitted when unchecked.

    XIdentityWithAlso:
      description: |
        As `XIdentity`, plus `also` where a second live X account is attested
        for the same wallet. Returned by the forward lookups only; the reverse
        lookups omit `also`.
      allOf:
        - $ref: '#/components/schemas/XIdentity'
        - type: object
          properties:
            also:
              $ref: '#/components/schemas/TwitterAlso'

    FarcasterAccount:
      type: object
      required: [username, url]
      properties:
        username: { type: string }
        url:
          type: string
          format: uri
          description: The account’s Warpcast profile.
        followers:
          type: [integer, 'null']
          description: Follower count at last ingest. `null` where unknown.
        fid:
          type: [integer, 'null']
          description: Farcaster ID. `null` where unknown.
        verified:
          type: boolean
          description: |
            Whether the account carries a protocol-level verification of this
            wallet.

    AgentMetadata:
      type: object
      description: |
        Present only when the address is a known onchain agent. Fields with no
        value are omitted rather than nulled.
      required: [is_agent, verified]
      properties:
        is_agent:
          type: boolean
          const: true
          description: Always `true`. The object is absent for a wallet that is not an agent.
        name: { type: string }
        framework: { type: string }
        type: { type: string }
        token_symbol: { type: string }
        verified: { type: boolean }

    Quality:
      type: object
      description: The quality object returned by `GET /wallet/{address}`.
      required: [score, last_verified]
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: 0 to 100. Higher means stronger and fresher evidence.
        last_verified:
          type: [string, 'null']
          format: date-time
          description: When the record was last re-verified, or `null` if never.

    IdentityCore:
      type: object
      description: |
        The fields every endpoint returns the same way. `wallet` is always
        present; everything else is omitted when there is nothing to report.
      required: [wallet]
      properties:
        wallet:
          type: string
          pattern: '^0x[0-9a-f]{40}$'
          description: Lowercased address. Always present.
        ens_name:
          type: string
          description: Primary ENS name.
        lens:
          type: string
          description: Lens handle.
        github:
          type: string
          description: GitHub username.
        sources:
          type: array
          description: |
            Evidence classes backing the record, in a stable order. Omitted
            entirely when nothing classifiable backs it.
          items:
            $ref: '#/components/schemas/PublicSource'
        agent:
          $ref: '#/components/schemas/AgentMetadata'

    WalletRecord:
      description: The record returned by `GET /wallet/{address}`.
      allOf:
        - $ref: '#/components/schemas/IdentityCore'
        - type: object
          required: [quality]
          properties:
            twitter:
              $ref: '#/components/schemas/XIdentityWithAlso'
            farcaster:
              $ref: '#/components/schemas/FarcasterAccount'
            quality:
              $ref: '#/components/schemas/Quality'

    BatchRecord:
      description: |
        One entry in the `POST /batch` array. Carries no `quality` object: the
        forward single lookup returns one and the reverse lookups return a bare
        `quality_score`, and this endpoint returns neither. It does carry the
        freshness pair the single lookup reports in its `meta`, per row,
        because a batch has one `meta` for many rows.
      allOf:
        - $ref: '#/components/schemas/IdentityCore'
        - type: object
          required: [last_updated, stale]
          properties:
            twitter:
              $ref: '#/components/schemas/XIdentityWithAlso'
            farcaster:
              $ref: '#/components/schemas/FarcasterAccount'
            last_updated:
              type: string
              format: date-time
              description: When the record last changed.
            stale:
              type: boolean
              description: |
                Whether the record is past its freshness window or has not
                changed in 30 days. Same derivation as the single lookup’s
                `meta.stale`.

    ReverseTwitterRecord:
      description: |
        One wallet attested to the queried X handle. `twitter` is always
        present, because the query selected the row by it.
      allOf:
        - $ref: '#/components/schemas/IdentityCore'
        - type: object
          required: [twitter, quality_score]
          properties:
            twitter:
              $ref: '#/components/schemas/XIdentity'
            farcaster:
              $ref: '#/components/schemas/FarcasterAccount'
            quality_score:
              type: integer
              minimum: 0
              maximum: 100
              description: |
                The same 0 to 100 score the forward lookup returns inside
                `quality`, here as a bare number.

    ReverseFarcasterRecord:
      description: |
        One wallet attested to the queried Farcaster username. `farcaster` is
        always present, because the query selected the row by it.
      allOf:
        - $ref: '#/components/schemas/IdentityCore'
        - type: object
          required: [farcaster, quality_score]
          properties:
            twitter:
              $ref: '#/components/schemas/XIdentity'
            farcaster:
              $ref: '#/components/schemas/FarcasterAccount'
            quality_score:
              type: integer
              minimum: 0
              maximum: 100

    WalletMeta:
      type: object
      description: |
        `last_updated` and `stale` accompany a found record. `checked_at`
        accompanies a miss and separates an address we checked and found bare
        from one we have never seen.
      required: [wallet, found]
      properties:
        wallet:
          type: string
          pattern: '^0x[0-9a-f]{40}$'
          description: The normalised address you asked for.
        found:
          type: boolean
          description: |
            Whether any identity is attached. False is a successful lookup with
            a negative answer, not an error, and it is not billed.
        last_updated:
          type: string
          format: date-time
          description: When the record last changed. Present only when `found` is true.
        stale:
          type: boolean
          description: |
            Whether the record is past its freshness window or has not changed
            in 30 days. Present only when `found` is true.
        checked_at:
          type: [string, 'null']
          format: date-time
          description: |
            Present only when `found` is false. A timestamp means we looked and
            found nothing. `null` means we have never looked.

    BatchMeta:
      type: object
      required: [requested, found, not_found, matched]
      properties:
        requested:
          type: integer
          description: Addresses in the request after duplicates were removed.
        found:
          type: integer
          description: |
            Entries that came back as a record rather than `null`. Larger than
            `matched`, because it counts records carrying only an ENS name, a
            Lens profile or a GitHub account.
        not_found:
          type: integer
          description: '`requested` minus `found`.'
        matched:
          type: integer
          description: |
            What this call was billed: addresses that resolved to an X handle
            or a Farcaster account. This is the number to reconcile against
            your balance.
        previously_checked:
          type: object
          additionalProperties:
            type: string
            format: date-time
          description: |
            Negative knowledge for the misses: wallet to ISO timestamp, for
            each `null` entry that was checked before and found bare. A miss
            absent from this map has never been examined, and the whole field
            is absent when no miss was previously checked. Absent is not
            false. The single lookup makes the same distinction with
            `meta.checked_at`.

    ReversePageMeta:
      type: object
      required: [total_count, returned_count, truncated, next_cursor]
      properties:
        total_count:
          type: integer
          description: |
            Every wallet matching the query, not just this page. Counted before
            pagination.
        returned_count:
          type: integer
          description: Wallets in `data`, at most 100.
        truncated:
          type: boolean
          description: |
            Whether a further page exists. Determined by reading one row beyond
            the page and discarding it, so it is exact rather than inferred
            from a full page.
        next_cursor:
          type: [string, 'null']
          description: |
            Pass back as `cursor` for the next page. `null` when `truncated` is
            false.

    ReverseTwitterMeta:
      allOf:
        - type: object
          required: [handle]
          properties:
            handle:
              type: string
              description: The normalised handle you asked for, without `@`.
        - $ref: '#/components/schemas/ReversePageMeta'

    ReverseFarcasterMeta:
      allOf:
        - type: object
          required: [username]
          properties:
            username:
              type: string
              description: The normalised username you asked for.
        - $ref: '#/components/schemas/ReversePageMeta'

    BatchRequest:
      type: object
      required: [wallets]
      properties:
        wallets:
          type: array
          description: |
            Addresses to resolve. Duplicates are removed before the lookup and
            before billing, but each copy still counts against your rate limit,
            so deduplicating costs you nothing and saves throughput.

            `maxItems` is the limit every credit pack carries. The enforced
            value is your plan’s `max_batch_size`, reported by `GET /usage`.
          minItems: 1
          maxItems: 50
          items:
            type: string
            pattern: '^0x[a-fA-F0-9]{40}$'

    JobsRequest:
      type: object
      required: [wallets]
      properties:
        wallets:
          type: array
          description: |
            Addresses to resolve. Duplicates are removed before the job is
            created and before billing. No fixed `maxItems`: the ceiling is 10
            times your match balance, and a longer list is refused whole with
            `SUBMISSION_LIMIT_EXCEEDED` naming the maximum. The body itself is
            capped at 4.5 MB.
          minItems: 1
          items:
            type: string
            pattern: '^0x[a-fA-F0-9]{40}$'

    JobSubmission:
      type: object
      description: The 202 body of `POST /jobs`.
      required: [job_id, status, wallets, status_url]
      properties:
        job_id:
          type: string
          description: A UUID. The handle for the status poll.
        status:
          type: string
          description: |
            What was true when the 202 was written. A job of 10 addresses or
            fewer runs inline and can already report `completed`; the status
            URL is the authority either way.
          enum: [pending, completed]
        wallets:
          type: integer
          description: Unique addresses accepted, after deduplication.
        status_url:
          type: string
          format: uri
          description: The absolute URL of `GET /jobs/{id}` for this job.

    JobStage:
      type: string
      description: |
        Which part of the pipeline the job is in, by evidence class rather
        than by internal component: `index` reads our own graph, `cache` the
        short-term cache in front of it, `live` resolves the remainder
        against live sources, and `onchain` reads onchain records. `null`
        when the job is not currently inside a stage.
      enum: [index, cache, onchain, live]

    JobRecord:
      description: |
        One entry in a completed job’s `results` array: the batch record
        without the per-row freshness pair. Evidence classes come through the
        same allowlist as everywhere else, and are omitted where nothing
        classifiable backs the row. The X reachability fields are read at
        poll time, not stored with the job.
      allOf:
        - $ref: '#/components/schemas/IdentityCore'
        - type: object
          properties:
            twitter:
              $ref: '#/components/schemas/XIdentityWithAlso'
            farcaster:
              $ref: '#/components/schemas/FarcasterAccount'

    JobStatus:
      type: object
      description: The `data` object of `GET /jobs/{id}`.
      required: [job_id, status, progress, created_at, started_at, completed_at]
      properties:
        job_id:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed]
        progress:
          type: object
          required: [processed, total, stage]
          properties:
            processed:
              type: integer
              description: Addresses processed so far.
            total:
              type: integer
              description: Unique addresses in the job.
            stage:
              oneOf:
                - $ref: '#/components/schemas/JobStage'
                - type: 'null'
        created_at:
          type: string
          format: date-time
        started_at:
          type: [string, 'null']
          format: date-time
          description: '`null` until a worker picks the job up.'
        completed_at:
          type: [string, 'null']
          format: date-time
          description: '`null` until the job completes.'
        error:
          type: string
          description: |
            Present only when `status` is `failed`. A generic statement that
            the job was not billed, never the internal failure detail.
        wallets:
          type: array
          description: |
            Present only when `status` is `completed`: the deduplicated,
            lowercased submission, in processing order. It rides in the same
            payload as `results` because the submission may be sessions old
            and the caller may no longer hold the list it sent.
          items:
            type: string
            pattern: '^0x[0-9a-f]{40}$'
        results:
          type: array
          description: |
            Present only when `status` is `completed`. Positionally aligned
            with `wallets`: entry N describes wallet N, and is `null` where
            nothing was attached.
          items:
            oneOf:
              - $ref: '#/components/schemas/JobRecord'
              - type: 'null'

    JobMeta:
      type: object
      description: |
        `requested` is always present. The three counts appear only on a
        completed job, and follow the batch meta's arithmetic: `matched` is
        what the job billed, never more than `found`.
      required: [requested]
      properties:
        requested:
          type: integer
          description: Unique addresses in the job.
        found:
          type: integer
          description: |
            Entries that came back as a record rather than `null`, counting
            records carrying only an ENS name, a Lens profile or a GitHub
            account.
        not_found:
          type: integer
          description: '`requested` minus `found`.'
        matched:
          type: integer
          description: |
            What the job billed at completion: addresses that resolved to an
            X handle or a Farcaster account. Reconcile this against your
            balance.

    Stats:
      type: object
      required: [total_wallets, wallets_checked, coverage, farcaster_stats]
      properties:
        total_wallets:
          type: integer
          description: |
            Records carrying at least one identity. This is the numerator for
            coverage.
        wallets_checked:
          type: integer
          description: |
            Every address we have looked at, including those we checked and
            found bare. This is the denominator for coverage.
        coverage:
          type: object
          description: Records carrying each identity type. The buckets overlap.
          required: [twitter, farcaster, ens, lens, github]
          properties:
            twitter: { type: integer }
            farcaster: { type: integer }
            ens: { type: integer }
            lens: { type: integer }
            github: { type: integer }
        farcaster_stats:
          type: object
          required: [avg_followers, max_followers]
          properties:
            avg_followers: { type: integer }
            max_followers: { type: integer }

    Usage:
      type: object
      required: [key, credits, plan_limits, rate_limits, usage]
      properties:
        key:
          type: object
          required: [id, name, prefix, plan, created_at]
          properties:
            id: { type: string }
            name: { type: string }
            prefix:
              type: string
              description: The visible leading characters of the key. The rest is stored only as a hash.
            plan:
              type: string
              description: |
                The internal plan name, which is not the pack you bought. Every
                pack reports `Developer`.
            created_at: { type: string, format: date-time }
            last_used_at:
              type: string
              format: date-time
              description: Omitted if the key has never been used.
        credits:
          type: object
          description: |
            The match meter: what you bought, and what ends a session with a
            402. This is the number to read before deciding whether the next
            call will work.
          required:
            [available, unmetered, on_free_allowance, free_window_resets_at]
          properties:
            available:
              type: [integer, 'null']
              description: |
                Matches left. `null` only for an unmetered account, where there
                is no number to report.
            unmetered:
              type: boolean
              description: Whether this account draws on a balance at all.
            on_free_allowance:
              type: boolean
              description: Whether the remaining balance is the free 30-day allowance rather than a pack.
            free_window_resets_at:
              type: [string, 'null']
              format: date-time
              description: When the free 30-day window rolls forward, or `null`.
        plan_limits:
          type: object
          description: |
            The request meter: how hard this key may hit the service. Separate
            from `credits`, and not what is sold.
          required:
            [
              requests_per_minute,
              requests_per_day,
              requests_per_month,
              max_batch_size,
            ]
          properties:
            requests_per_minute: { type: integer }
            requests_per_day:
              oneOf:
                - type: integer
                - type: string
                  const: unlimited
              description: The string `unlimited` where no daily cap applies.
            requests_per_month:
              oneOf:
                - type: integer
                - type: string
                  const: unlimited
            max_batch_size:
              type: integer
              description: The batch limit this key is actually held to.
        rate_limits:
          type: object
          description: |
            Live state of the three windows. A window is `null` when this plan
            does not cap it.
          required: [minute, day, month]
          properties:
            minute: { $ref: '#/components/schemas/RateLimitWindow' }
            day: { $ref: '#/components/schemas/RateLimitWindow' }
            month: { $ref: '#/components/schemas/RateLimitWindow' }
        usage:
          type: object
          required:
            [
              period,
              total_requests,
              total_credits,
              total_wallets,
              avg_latency_ms,
              error_rate,
              requests_by_endpoint,
              requests_by_day,
            ]
          properties:
            period:
              type: string
              enum: [day, week, month]
            total_requests: { type: integer }
            total_credits:
              type: integer
              description: |
                Rate-limit units, one per wallet requested. **Not matches.**
                Kept under its historical name because integrators read it; the
                match balance is `credits` above.
            total_wallets: { type: integer }
            avg_latency_ms: { type: integer }
            error_rate:
              type: number
              description: Share of requests that returned 400 or above, as a percentage to two decimal places.
            requests_by_endpoint:
              type: object
              description: |
                Keyed by route template, never by concrete path, so the map
                stays bounded and records no address you looked up.
              additionalProperties: { type: integer }
            requests_by_day:
              type: array
              description: One entry per calendar day in the period that saw traffic, ascending.
              items:
                type: object
                required: [date, count, credits]
                properties:
                  date:
                    type: string
                    format: date
                  count: { type: integer }
                  credits: { type: integer }

    RateLimitWindow:
      type: [object, 'null']
      description: One rate-limit window, or `null` when this plan does not cap it.
      required: [limit, remaining, reset_at]
      properties:
        limit: { type: integer }
        remaining: { type: integer }
        reset_at: { type: string, format: date-time }
